{% load static %}

<aside id="chat-widget-messages" class="chat-widget closed sidebar right hidden">

    <!-- CHAT WIDGET MESSAGES -->
    <div class="chat-widget-messages" data-simplebar></div>
    <!-- /CHAT WIDGET MESSAGE -->

    <!-- CHAT WIDGET FORM -->
    <form class="chat-widget-form">
      <!-- INTERACTIVE INPUT --><!-- /INTERACTIVE INPUT -->
    </form>
    <!-- /CHAT WIDGET FORM -->

    <!-- CHAT WIDGET BUTTON -->
    <div class="chat-widget-button">
      <!-- CHAT WIDGET BUTTON ICON --><!-- /CHAT WIDGET BUTTON ICON -->
      <!-- CHAT WIDGET BUTTON TEXT --><!-- /CHAT WIDGET BUTTON TEXT -->
    </div>
    <!-- /CHAT WIDGET BUTTON -->

</aside>