{% load static %}

<nav id="navigation-widget-small" class="navigation-widget navigation-widget-desktop closed sidebar left delayed">
    <!-- USER AVATAR -->
    {% include "includes/account-avatar-small.html" with account=user.account %}
    <!-- /USER AVATAR -->

    <!-- MENU -->
    <ul class="menu small">
        <!-- MENU ITEM -->
        <li class="menu-item {% if request.resolver_match.url_name == 'newsfeed_view' %} active {% endif %}">
            <!-- MENU ITEM LINK -->
            <a class="menu-item-link text-tooltip-tfr" href="{% url 'diaries:newsfeed_view' %}"
               data-title="Newsfeed">
                <!-- MENU ITEM LINK ICON -->
                <svg class="menu-item-link-icon icon-newsfeed">
                    <use xlink:href="#svg-group"></use>
                </svg>
                <!-- /MENU ITEM LINK ICON -->
            </a>
            <!-- /MENU ITEM LINK -->
        </li>
        <!-- /MENU ITEM -->

        <!-- MENU ITEM -->
        <li class="menu-item {% if request.resolver_match.url_name == 'diaries_view' %} active {% endif %}">
            <!-- MENU ITEM LINK -->
            <a class="menu-item-link text-tooltip-tfr" href="{% url 'diaries:diaries_view' %}"
               data-title="My Diaries">
                <!-- MENU ITEM LINK ICON -->
                <svg class="menu-item-link-icon icon-newsfeed">
                    <use xlink:href="#svg-events"></use>
                </svg>
                <!-- /MENU ITEM LINK ICON -->
            </a>
            <!-- /MENU ITEM LINK -->
        </li>
        <!-- /MENU ITEM -->

<!--        &lt;!&ndash; MENU ITEM &ndash;&gt;-->
<!--        <li class="menu-item {% if request.resolver_match.url_name == 'issues_view' %} active {% endif %}">-->
<!--            &lt;!&ndash; MENU ITEM LINK &ndash;&gt;-->
<!--            <a class="menu-item-link text-tooltip-tfr" href="{% url 'issues:issues_view' %}" data-title="Issues">-->
<!--                &lt;!&ndash; MENU ITEM LINK ICON &ndash;&gt;-->
<!--                <svg class="menu-item-link-icon icon-newsfeed">-->
<!--                    <use xlink:href="#svg-overview"></use>-->
<!--                </svg>-->
<!--                &lt;!&ndash; /MENU ITEM LINK ICON &ndash;&gt;-->
<!--            </a>-->
<!--            &lt;!&ndash; /MENU ITEM LINK &ndash;&gt;-->
<!--        </li>-->
<!--        &lt;!&ndash; /MENU ITEM &ndash;&gt;-->

        <!-- MENU ITEM -->
        <li class="menu-item">
            <!-- MENU ITEM LINK -->
            <a class="menu-item-link text-tooltip-tfr" href="{% url 'authentication:signout' %}" data-title="Logout">
                <!-- MENU ITEM LINK ICON -->
                <svg class="menu-item-link-icon icon-newsfeed">
                    <use xlink:href="#svg-login"></use>
                </svg>
                <!-- /MENU ITEM LINK ICON -->
            </a>
            <!-- /MENU ITEM LINK -->
        </li>
        <!-- /MENU ITEM -->

    </ul>
    <!-- /MENU -->

</nav>