{% extends "base/main.html" %}
{% load static %}

{% block content %}
<div class="content-grid">

    <div class="account-hub-content">
        <!-- SECTION HEADER -->
        <div class="section-header">
            <!-- SECTION HEADER INFO -->
            <div class="section-header-info">
                <!-- SECTION PRETITLE -->
                <p class="section-pretitle">Diaries</p>
                <!-- /SECTION PRETITLE -->

                <!-- SECTION TITLE -->
                <h2 class="section-title">Diary Detail : {{ diary.created_date|date:"d.m.Y" }}</h2>
                <!-- /SECTION TITLE -->

            </div>
            <!-- /SECTION HEADER INFO -->
        </div>
        <!-- /SECTION HEADER -->
    </div>

    <div class="tab-box">
        <!-- TAB BOX OPTIONS -->
        <div class="tab-box-options">

            <!-- TAB BOX OPTION -->
            <div class="tab-box-option">
                <!-- TAB BOX OPTION TITLE -->
                <p class="tab-box-option-title">Commits <span class="highlighted">{{ diary.commits.all|length }}</span>
                </p>
                <!-- /TAB BOX OPTION TITLE -->
            </div>
            <!-- /TAB BOX OPTION -->

            <!-- TAB BOX OPTION -->
            <div class="tab-box-option">
                <!-- TAB BOX OPTION TITLE -->
                <p class="tab-box-option-title">Comments, <span class="highlighted">Coming soon</span></p>
                <!-- /TAB BOX OPTION TITLE -->
            </div>
            <!-- /TAB BOX OPTION -->

        </div>
        <!-- /TAB BOX OPTIONS -->

        <!-- TAB BOX ITEMS -->
        <div class="tab-box-items">

            <!-- TAB BOX ITEM -->
            <div class="tab-box-item">
                <!-- POST COMMENT LIST -->
                <div class="post-comment-list no-border-top">

                    <!-- POST COMMENT FORM -->
                    <div class="post-comment-form with-title">

                        <!-- POST COMMENT FORM TITLE -->
                        <p class="post-comment-form-title">Make a Commit</p>
                        <!-- /POST COMMENT FORM TITLE -->

                        <!-- USER AVATAR -->
                        <div class="user-avatar small no-outline">
                            <!-- USER AVATAR CONTENT -->
                            <div class="user-avatar-content">
                                <!-- HEXAGON -->
                                <div class="hexagon-image-30-32" data-src="{% static 'img/avatar/17.jpg' %}"></div>
                                <!-- /HEXAGON -->
                            </div>
                            <!-- /USER AVATAR CONTENT -->

                            <!-- USER AVATAR PROGRESS -->
                            <!--                    <div class="user-avatar-progress">-->
                            <!--                      &lt;!&ndash; HEXAGON &ndash;&gt;-->
                            <!--                      <div class="hexagon-progress-40-44"></div>-->
                            <!--                      &lt;!&ndash; /HEXAGON &ndash;&gt;-->
                            <!--                    </div>-->
                            <!-- /USER AVATAR PROGRESS -->

                            <!-- USER AVATAR PROGRESS BORDER -->
                            <div class="user-avatar-progress-border">
                                <!-- HEXAGON -->
                                <div class="hexagon-border-40-44"></div>
                                <!-- /HEXAGON -->
                            </div>
                            <!-- /USER AVATAR PROGRESS BORDER -->

                            <!-- USER AVATAR BADGE -->
                            <div class="user-avatar-badge">
                                <!-- USER AVATAR BADGE BORDER -->
                                <div class="user-avatar-badge-border">
                                    <!-- HEXAGON -->
                                    <div class="hexagon-22-24"></div>
                                    <!-- /HEXAGON -->
                                </div>
                                <!-- /USER AVATAR BADGE BORDER -->

                                <!-- USER AVATAR BADGE CONTENT -->
                                <div class="user-avatar-badge-content">
                                    <!-- HEXAGON -->
                                    <div class="hexagon-dark-16-18"></div>
                                    <!-- /HEXAGON -->
                                </div>
                                <!-- /USER AVATAR BADGE CONTENT -->

                                <!-- USER AVATAR BADGE TEXT -->
                                <p class="user-avatar-badge-text">1</p>
                                <!-- /USER AVATAR BADGE TEXT -->
                            </div>
                            <!-- /USER AVATAR BADGE -->
                        </div>
                        <!-- /USER AVATAR -->

                        <!-- FORM -->
                        <form class="form" action="{% url 'diaries:commit' diary.id %}" method="POST">
                            {% csrf_token %}
                            <!-- FORM ROW -->
                            <div class="form-row">
                                <!-- FORM ITEM -->
                                <div class="form-item">
                                    <!-- FORM INPUT -->
                                    <div class="form-input small">
                                        <label for="message">Commit Message</label>
                                        <input type="text" id="message" name="message">
                                    </div>
                                    {% for message in messages %}
                                        <p class="badge-item-stat-text pt-3 text-center text-danger">{{ message }}</p>
                                    {% endfor %}
                                    <!-- /FORM INPUT -->
                                </div>
                                <!-- /FORM ITEM -->
                            </div>
                            <!-- /FORM ROW -->
                        </form>
                        <!-- /FORM -->
                    </div>
                    <!-- /POST COMMENT FORM -->

                    <!-- POST COMMENT -->
                    {% for commit in diary.commits.all|dictsortreversed:"id" %}
                    <div class="post-comment">
                        <!-- USER AVATAR -->
                        <a class="user-avatar small no-outline" href="profile-timeline.html">
                            <!-- USER AVATAR CONTENT -->
                            <div class="user-avatar-content">
                                <!-- HEXAGON -->
                                <div class="hexagon-image-30-32" data-src="{% static 'img/avatar/17.jpg' %}"></div>
                                <!-- /HEXAGON -->
                            </div>
                            <!-- /USER AVATAR CONTENT -->

                            <!-- USER AVATAR PROGRESS -->
                            <!--                    <div class="user-avatar-progress">-->
                            <!--                      &lt;!&ndash; HEXAGON &ndash;&gt;-->
                            <!--                      <div class="hexagon-progress-40-44"></div>-->
                            <!--                      &lt;!&ndash; /HEXAGON &ndash;&gt;-->
                            <!--                    </div>-->
                            <!-- /USER AVATAR PROGRESS -->

                            <!-- USER AVATAR PROGRESS BORDER -->
                            <div class="user-avatar-progress-border">
                                <!-- HEXAGON -->
                                <div class="hexagon-border-40-44"></div>
                                <!-- /HEXAGON -->
                            </div>
                            <!-- /USER AVATAR PROGRESS BORDER -->

                            <!-- USER AVATAR BADGE -->
                            <div class="user-avatar-badge">
                                <!-- USER AVATAR BADGE BORDER -->
                                <div class="user-avatar-badge-border">
                                    <!-- HEXAGON -->
                                    <div class="hexagon-22-24"></div>
                                    <!-- /HEXAGON -->
                                </div>
                                <!-- /USER AVATAR BADGE BORDER -->

                                <!-- USER AVATAR BADGE CONTENT -->
                                <div class="user-avatar-badge-content">
                                    <!-- HEXAGON -->
                                    <div class="hexagon-dark-16-18"></div>
                                    <!-- /HEXAGON -->
                                </div>
                                <!-- /USER AVATAR BADGE CONTENT -->

                                <!-- USER AVATAR BADGE TEXT -->
                                <p class="user-avatar-badge-text">{{ diary.account.level }}</p>
                                <!-- /USER AVATAR BADGE TEXT -->
                            </div>
                            <!-- /USER AVATAR BADGE -->
                        </a>
                        <!-- /USER AVATAR -->

                        <!-- POST COMMENT TEXT -->
                        <p class="post-comment-text user-tag">
                            <a class="post-comment-text-author" href="#">{{ diary.account.get_full_name }}</a>
                        </p>
                        <!-- /POST COMMENT TEXT -->

                        <!-- POST COMMENT TEXT -->
                        <p class="post-comment-text">{{ commit.message }}</p>
                        <!-- /POST COMMENT TEXT -->

                        <!-- CONTENT ACTIONS -->
                        <div class="content-actions">
                            <!-- CONTENT ACTION -->
                            <div class="content-action">

                                <!-- META LINE -->
                                <div class="meta-line">
                                    <!-- META LINE TIMESTAMP -->
                                    <p class="meta-line-timestamp">{{ commit.created_datetime|date:"d.m.y H:i" }}</p>
                                    <!-- /META LINE TIMESTAMP -->
                                </div>
                                <!-- /META LINE -->

                                <!-- META LINE --><!-- /META LINE -->
                                <!-- META LINE --><!-- /META LINE -->
                                <!-- META LINE --><!-- /META LINE -->
                                <!-- META LINE --><!-- /META LINE -->

                            </div>
                            <!-- /CONTENT ACTION -->
                        </div>
                        <!-- /CONTENT ACTIONS -->
                    </div>
                    {% endfor %}
                    <!-- /POST COMMENT -->

                </div>
                <!-- /POST COMMENT LIST -->
            </div>
            <!-- /TAB BOX ITEM -->

        </div>
        <!-- /TAB BOX ITEMS -->
    </div>

</div>
{% endblock content %}