{% extends "base/main.html" %}
{% load static %}

{% block content %}
<div class="content-grid">

    <div class="account-hub-content">

        <!-- SECTION HEADER -->
        <div class="section-header">
            <!-- SECTION HEADER INFO -->
            <div class="section-header-info">
                <!-- SECTION PRETITLE -->
                <p class="section-pretitle">Diaries</p>
                <!-- /SECTION PRETITLE -->

                <!-- SECTION TITLE -->
                <h2 class="section-title">
                    {% if user.account.clan %}
                        {{ user.account.clan }}
                    {% else %}
                        No Clan
                    {% endif %}
                    : Newsfeed
                </h2>
                <!-- /SECTION TITLE -->
            </div>
            <!-- /SECTION HEADER INFO -->
        </div>
        <!-- /SECTION HEADER -->

        {% for diary in diaries %}
            {% include "includes/diary-widget.html" with diary=diary %}
        {% endfor %}
    </div>
    <!-- /TABLE WRAP -->

    <!-- SECTION PAGER BAR WRAP -->
    {% include "includes/pager-bar.html" with objects=diaries %}
    <!-- /SECTION PAGER BAR WRAP -->

</div>
{% endblock content %}