<div class="rating-list">

    <!-- RATING -->
    <div class="rating dark {% if stars >= 1 %} filled {% endif %}">
        <!-- RATING ICON -->
        <svg class="rating-icon icon-star">
            <use xlink:href="#svg-star"></use>
        </svg>
        <!-- /RATING ICON -->
    </div>
    <!-- /RATING -->

    <!-- RATING -->
    <div class="rating dark {% if stars >= 2 %} filled {% endif %}">
        <!-- RATING ICON -->
        <svg class="rating-icon icon-star">
            <use xlink:href="#svg-star"></use>
        </svg>
        <!-- /RATING ICON -->
    </div>
    <!-- /RATING -->

    <!-- RATING -->
    <div class="rating dark {% if stars >= 3 %} filled {% endif %}">
        <!-- RATING ICON -->
        <svg class="rating-icon icon-star">
            <use xlink:href="#svg-star"></use>
        </svg>
        <!-- /RATING ICON -->
    </div>
    <!-- /RATING -->

    <!-- RATING -->
    <div class="rating dark {% if stars >= 4 %} filled {% endif %}">
        <!-- RATING ICON -->
        <svg class="rating-icon icon-star">
            <use xlink:href="#svg-star"></use>
        </svg>
        <!-- /RATING ICON -->
    </div>
    <!-- /RATING -->

    <!-- RATING -->
    <div class="rating dark {% if stars >= 5 %} filled {% endif %}">
        <!-- RATING ICON -->
        <svg class="rating-icon icon-star">
            <use xlink:href="#svg-star"></use>
        </svg>
        <!-- /RATING ICON -->
    </div>
    <!-- /RATING -->
</div>